USE [BankingOperationsSystem]
GO
/****** Object:  StoredProcedure [core].[CreateCustomer]    Script Date: 12/23/2025 9:26:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [core].[CreateCustomer]
	@FullName     nvarchar(100),
	@Email        nvarchar(100)

as
begin
	set nocount on;

	
	insert into core.Customer(FullName, Email)
	values(@FullName, @Email);

	select SCOPE_IDENTITY() as NewId;
	
end