USE [BankingOperationsSystem]
GO
/****** Object:  StoredProcedure [core].[CustomerTransaction]    Script Date: 12/23/2025 9:29:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [core].[CustomerTransaction]
    @CustomerId    INT,
    @Amount        DECIMAL(10, 2), 
    @OperationType NVARCHAR(100) 
as
begin

	set nocount on;
    

    update core.Customer 
    
	set Balance = Balance + @Amount
    
    where CustomerId = @CustomerId;

	insert into core.Operations (CustomerId, Amount, OperatonType)
    values (@CustomerId, ABS(@Amount), @OperationType);
    
    
    select CustomerId, FullName, Email, Balance 
    from core.Customer 
    where CustomerId = @CustomerId;
end;