USE [BankingOperationsSystem]
GO
/****** Object:  StoredProcedure [core].[CustomerUpdate]    Script Date: 12/23/2025 9:27:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [core].[CustomerUpdate]
	@CustomerId      int,
	@FullName        nvarchar(200),
	@Email           nvarchar(50),
	@Balance         decimal(10, 2)
	
as
begin
	set nocount on;

	update core.Customer
		set
			FullName = ISNULL(@FullName, FullName),
			Email = isnull(@Email, Email),
			Balance = isnull(@Balance, Balance)
			
		where CustomerId = @CustomerId;
		
		if @@ROWCOUNT = 0
		begin
			raiserror('Customer not found', 16, 1);
			return;
		end

		select
			CustomerId, FullName, Email, Balance
			
		from core.Customer
		where CustomerId = @CustomerId;
end