USE [BankingOperationsSystem]
GO
/****** Object:  StoredProcedure [core].[CustomerDelete]    Script Date: 12/23/2025 9:26:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [core].[CustomerDelete]
	@CustomerId int
as
begin
	set nocount on;

	if not exists(select 1 from core.Customer where CustomerId = @CustomerId)
		begin
		select 0 as result;
		return;
	end

	delete from core.Customer
	where CustomerId = @CustomerId

	select @@ROWCOUNT

end