USE [BankingOperationsSystem]
GO
/****** Object:  StoredProcedure [core].[CustomerGetAll]    Script Date: 12/23/2025 9:26:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [core].[CustomerGetAll]
	@Skip    int,
	@Take    int
as
begin
	set nocount on;

	select CustomerId, FullName, Email, Balance

	from core.Customer
	order by FullName
	offset @skip rows
	fetch next @Take rows only;
end