USE [BankingOperationsSystem]
GO
/****** Object:  StoredProcedure [core].[CustomerGetById]    Script Date: 12/23/2025 9:27:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [core].[CustomerGetById]
	@CustomerId    int
		
as
begin
	set nocount on;

	select CustomerId, FullName, Email, Balance
	from core.Customer
	where CustomerId = @CustomerId
end