USE [BankingOperationsSystem]
GO
/****** Object:  StoredProcedure [core].[GetOperationHistory]    Script Date: 12/23/2025 9:29:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [core].[GetOperationHistory]
    @CustomerId     int,
    @PageNumber     int = 1,
    @PageSize       int = 10
as
begin

	set nocount on;

    select OperationsId, CustomerId, Amount, OperatonType
    from core.Operations
    where CustomerId = @CustomerId
    order by OperationsId DESC -- Newest first
    offset (@PageNumber - 1) * @PageSize rows
    fetch next @PageSize rows only;
end;